/*social control*/
label.wpc-radio-icons-label {
    padding: 4px;
    margin: 4px;
}

label.wpc-radio-icons-label i {
    font-size: 30px;
}

.wpc-radio-icons-wrap {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

label.wpc-radio-icons-label.wpc-radio-icons-active i {
    font-size: 30px;
    line-height: 30px;
}

label.wpc-radio-icons-label.wpc-radio-icons-active {
    background: rgba(202, 207, 245, 0.8);
}
