/*
  wpc_icon_compare icon font: wpc_icon_compare
  Creation date: 17/05/2021 11:39
  */

@font-face {
    font-family: "wpc_icon_compare";

    src: url("../fonts/wpc_icon_compare.ttf?820b03d7236428f549f68c1888773cc6") format("truetype"),
    url("../fonts/wpc_icon_compare.woff?820b03d7236428f549f68c1888773cc6") format("woff"),
    url("../fonts/wpc_icon_compare.woff2?820b03d7236428f549f68c1888773cc6") format("woff2"),
    url("../fonts/wpc_icon_compare.eot?820b03d7236428f549f68c1888773cc6#iefix") format("embedded-opentype"),
    url("../fonts/wpc_icon_compare.svg?820b03d7236428f549f68c1888773cc6#flaticon") format("svg");

    font-weight: normal;
    font-style: normal;
}

i[class^="wpc_icon_compare-"]:before, i[class*=" wpc_icon_compare-"]:before {
    font-family: wpc_icon_compare !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: inherit;
    margin-right: 3px;
}

span[class^="wpc_icon_compare-"]:before, span[class*=" wpc_icon_compare-"]:before {
    font-family: wpc_icon_compare !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.wpc_icon_compare-share-files:before {
    content: "\f101";
}

.wpc_icon_compare-ab-testing:before {
    content: "\f102";
}

.wpc_icon_compare-ab-testing-1:before {
    content: "\f103";
}

.wpc_icon_compare-compare:before {
    content: "\f104";
}

.wpc_icon_compare-compare-1:before {
    content: "\f105";
}

.wpc_icon_compare-comparative:before {
    content: "\f106";
}

.wpc_icon_compare-risk:before {
    content: "\f107";
}

.wpc_icon_compare-compare-2:before {
    content: "\f108";
}

.wpc_icon_compare-decision:before {
    content: "\f109";
}

.wpc_icon_compare-compare-3:before {
    content: "\f10a";
}

.wpc_icon_compare-advantages:before {
    content: "\f10b";
}

.wpc_icon_compare-compare-4:before {
    content: "\f10c";
}

.wpc_icon_compare-computer:before {
    content: "\f10d";
}

.wpc_icon_compare-diagram:before {
    content: "\f10e";
}

.wpc_icon_compare-balance:before {
    content: "\f10f";
}

.wpc_icon_compare-file:before {
    content: "\f110";
}

.wpc_icon_compare-website:before {
    content: "\f111";
}

.wpc_icon_compare-lists:before {
    content: "\f112";
}

.wpc_icon_compare-skill:before {
    content: "\f113";
}

.wpc_icon_compare-file-1:before {
    content: "\f114";
}

.wpc_icon_compare-phone:before {
    content: "\f115";
}

.wpc_icon_compare-compare-5:before {
    content: "\f116";
}

.wpc_icon_compare-compare-6:before {
    content: "\f117";
}

.wpc_icon_compare-compare-7:before {
    content: "\f118";
}

.wpc_icon_compare-shopping-cart:before {
    content: "\f119";
}

.wpc_icon_compare-shopping-cart-1:before {
    content: "\f11a";
}

.wpc_icon_compare-shopping-cart-empty-side-view:before {
    content: "\f11b";
}

.wpc_icon_compare-shopping-cart-2:before {
    content: "\f11c";
}

.wpc_icon_compare-cancel:before {
    content: "\f11d";
}

.wpc_icon_compare-cancel-1:before {
    content: "\f11e";
}

.wpc_icon_compare-cancel-2:before {
    content: "\f11f";
}

.wpc_icon_compare-rubbish-bin:before {
    content: "\f120";
}

.wpc_icon_compare-rubbish:before {
    content: "\f121";
}

.wpc_icon_compare-dustbin:before {
    content: "\f122";
}

.wpc_icon_compare-loading-2:before {
    content: "\f123";
}

.wpc_icon_compare-edit:before {
    content: "\f124";
}

.wpc_icon_compare-pen:before {
    content: "\f125";
}

.wpc_icon_compare-freezing-1:before {
    content: "\f126";
}

.wpc_icon_compare-freezing-2:before {
    content: "\f127";
}

.wpc_icon_compare-add:before {
    content: "\f128";
}

.wpc_icon_compare-add-1:before {
    content: "\f129";
}

.wpc_icon_compare-settings:before {
    content: "\f12a";
}

.wpc_icon_compare-settings-1:before {
    content: "\f12b";
}

.wpc_icon_compare-settings-2:before {
    content: "\f12c";
}

.wpc_icon_compare-next:before {
    content: "\f12d";
}

.wpc_icon_compare-next-1:before {
    content: "\f12e";
}

.wpc_icon_compare-left-arrow:before {
    content: "\f12f";
}

.wpc_icon_compare-back:before {
    content: "\f130";
}
